@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}

*{
	font-family:"OpenSans-Light";
	margin: 0;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	font-size: 14px;
}
/*UTILITIES*/
$prefijo: fz !default;
	@for $i from 8 through 40 {
  .#{$prefijo}-#{$i} {
    font-size: 0px + $i !important;
  }
}
#progressBarContainer {
  margin: 20px;
  width: 400px;
  height: 8px;
}
.opacity {
	opacity: 0;
}

.container{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 90px;
  background: transparent;
	position: absolute;
	z-index: 2;
	@include transition (all 1s ease-in-out);
	.conteiner-menu {
		position: relative;
		padding: 10px 4%;
		height: 90px; 
		.logo{
		font-family: "OpenSans-Regular";
		font-size: 1.5em;
		float: left;
		text-decoration: none;
		color: transparent; 
		position: absolute;
		top: 50%;;
		}
		.photo{
			float: left;
			top: 15px;
			position: relative;
			margin-right: 15px;
			figure{
				width: 55px;
				height: 55px;
				border-radius: 100px;
				background-image: url(../img/photo.jpg);
				background-position: center;
				background-size: cover;
			}
		}
		.switch {
		  	width: 30px;
		  	height: 23px;
		  	position: absolute;
		  	right: 5%;
  			top: 65%;
		  	margin: -15px 0px 0px -15px;
		 		cursor: pointer;
		 		z-index: 10;
		}
		.switch.on:after {
		  	transform: rotate(-45deg) translate(7px, -8px);
		}
		.switch.on:before {
		  	transform: rotate(45deg) translate(5px, 5px);
		}
		.switch .menu-toggle {
		  	width: 100%;
		  	height: 5px;
		  	background: #fff;
		  	margin: 4px auto;
		  	@include transition (all 0.3s);
		  	backface-visibility: hidden;
		}
		.switch.on .menu-toggle {
		  	opacity: 0;
		}
		.switch:before, .switch:after {
		  	content: "";
		  	display: block;
		  	height: 5px;
		  	background: #fff;
		  	@include transition (all 0.3s);
		  	backface-visibility: hidden;
		}
		nav.menu{
			float: right;
			min-width: 30%;
			position: relative;
			top: 35px;
			@include transition (all 0.3s ease-in-out);
			a{
				text-decoration: none;
				padding: 4% 4% 2%;
				color: white;
				position:relative;
				&:hover{
					.line{
						background:black;
					}
				}
			}
		}
	}
}
#header.active-fixed {
	position:fixed;
	background-color:white;
	box-shadow: 0px 5px 7px 0px rgba(137,137,137, 0.3);
	z-index: 102;
	.conteiner-menu{
		.logo{
			color: black;
			top: 37%;
		}
		.photo{
			top:7.5px;
		}
	}
	.switch{
		top: 55%;
	}
	.switch:before, .switch:after, .switch .menu-toggle{
		background: #111111;
	}
	nav.menu {
		top: 25px!important;
		a{
			color: black;
		}
	}
}
#view-principal{
	width:100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: url(../img/wallpaper.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	.overlay{
		width: 100%;
		height: 100%;
		top:0;
		left: 0;
		background-color: rgba(0,0,0,0.85);
		position: absolute;
	}
	.texto{
		position: relative;
		top:35%;
		color: white;
  		text-align: center;
  		padding: 0 15%;
  		z-index: 100;
	  	h1 span {
	  		font-size: 54px;
	  		font-family: "OpenSans-Bold";
	  		letter-spacing: 20px;
	  	}
	  	p{
	  		font-size: 16px;
	  		padding-top: 2%;
	  		padding-bottom: 8%;
	  	}
	  	.ingreso{
				position: absolute;
				font-size: 17px;
		  	background-color: transparent;
		  	color: white;
		  	border: 1px solid #926d7e;
		  	padding: 1.5% 0%;
	  		width: 180px;
	  		margin-left: -90px;
  			border-radius: 5px;
 	 			outline: 0;
	  		@include transition(background, .1s, ease-in-out);
	  		a {
	  			text-decoration: none;
	  			color: white;
	  			width: 100%;
	  			height: 100%;
	  		}
	  		&:hover{
					background-color: #926d7e;
	  		}
		}
	}
}
.row{
	margin: 0;
}
#sobre-mi{
	padding: 8% 10% 10%;
	h3{
		font-family: "OpenSans-Regular";
		color: #777;
		letter-spacing: 2px;
	}
	.parrafo{
		padding-top: 3%;
		.frase{
			p{
				font-size: 20px;
				line-height: 1.8;
				color: #777;
				font-weight: 400;
			}
			.autor{
				font-size: 12px;
				letter-spacing: 2px;
				font-weight: 400;
				font-family: "OpenSans-Regular";
				padding-top: 2%;
			}
		}
		.texto{
			padding-left: 5%;
			padding-right: 0;
			p {
				line-height: 1.8;
				letter-spacing: 0.5px;
				-webkit-column-count: 2;
		    -moz-column-count: 2;
		    column-count: 2;
			}
		}
	}
}
#habilidades{
	width: 100%;
	height: 320px;
	background-image: url(../img/banner4.jpg);
	background-position: center;
	background-attachment: fixed;
	.texto{
		padding: 5% 10%;
		h3 {
			font-weight: 600;
    	letter-spacing: 2.5px;
		}
		p{
			line-height: 1.8;
			letter-spacing: 0.5px;
			padding-top: 10%;
		}
	}
	.img-computer{
		margin-top: -70px;
		img{
			width: 530px;
		}
	}
}
#portafolio{
	padding: 10% 10% 15%;
	color: #777;
	h3{
		font-family: "OpenSans-Regular";
  		letter-spacing: 2px;
	}
	.grid{
		padding-top: 5%;
		p{
			line-height: 1.8;
			letter-spacing: 0.5px;
			padding: 0 10%;
		}
		.row{
			padding-top: 5%; 
			list-style: none;
			padding-left: 6%;
    	padding-right: 6%;
			li.col-md-6{
				padding-bottom: 60px; 
				.imagen{
					position: relative;
					cursor: pointer;
					img{
						width: 100%;
						box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.2);
					}
					.overlay{
						width: 100%;
  					height: 100%;
						top: 0; 
						left: 0;
						position: absolute;
						@include transition (all .4s ease-in-out);
						padding: 15px;
						text-decoration: none;
						.marco {
							color: transparent;
						}
						&:hover{
	  					background-color: black;
	 						opacity: 0.9;
	 						@include transition (all .4s ease-in-out);
							.marco {
		  					width: 100%;
		  					height: 100%;
		  					border: 1px solid white;
		  					@include transition (all .4s ease-in-out);
		  					.titulo-proyecto {
		  						color: white;
		  						top: 50%;
							    transform: translateY(-50%);
							    margin: 0px;
							    position: relative;
							    letter-spacing: 2px;
		  					}
		  				}
	  				}
					}
				}
			}
		}
	}
}
#contacto{
	width: 100%;
	background-image: url(../img/banner-contacto.jpg);
	background-size: cover;
	background-position: center 175px;
	position: relative;
	background-attachment: fixed;
	.overlay-banner3{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
		position: absolute;
	}
	.texto{
		position: relative;
		padding: 5% 8%;
		width: 100%;
		h3{
			font-family: "OpenSans-Regular";
	  		letter-spacing: 2px;
		}
		ul{
			padding-top: 3%;
			.img {
					position: relative;
	  			background-color: rgba(250,250,250,0.7);
	  			border-radius: 100%;
	  			transition: all 0.3s ease-in-out;
	  			padding: 4px;
	  			margin: 2%;
	  			list-style: none;
	  			display: inline-block;
				img{
					width: 100px;
				}
				a {
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
				}
				&:hover{
					background-color: white;
				}
			}
		}
	}
}
footer{
	width: 100%;
	height: 50px;
	background-color: black;
	display: table;
	padding: 0 5%;
	p{
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (max-width: #{$screen-phone}) {

	#view-principal {
		h1 span {
			font-size: 35px!important;
			line-height: 1.3;
			letter-spacing: 15px!important;
			margin-top: 0px;
		}
		p {
			font-size: 18px!important;
		}
		.ingreso {
			padding: 15px!important;
			background-color: #926D7E!important;
			margin-top: 30px;
		}
	}

	#sobre-mi {
		padding: 15% 12% 15%!important;
		.frase {
			padding-top: 15px;
		}
		.texto {
			padding-top: 25px;
			font-size: 17px;
		}
	}
	#habilidades {
		height: 100%!important;
		.texto {
			padding: 15% 12% 10%!important;
		}
		.img-computer {
			margin-top: 0px!important;;
			img {
				width: 88%!important;
			}
		}
	}
	#portafolio {
		padding: 15% 12% 15%!important;
		.grid {
			p {
				padding: 0px!important;
			}
		}
	}
}